<!DOCTYPE html>
<html lang="en">
  <%= partial "header" %>
  <body>
    <div class="container">
      <div class="site">

        <%= partial "logo" %>

        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <br />
            <br />
            <%= yield %>
          </div>
          <div class="col-md-3">
            <br />
            <br />
            <%= partial "a_to_z" %>
          </div>
        </div>
      </div>
    </div>

    <%= partial "footer" %>

    <%= partial "scripts" %>
  </body>
</html>
